/*  djmblog.com web app by Dan McKeown copyright May-July-February 2015 								*/
/*  http://danmckeown.info/												*/
/*  v0.2.4-forJ  													    */

.hero {
  background-position: center;
}

p.flashdata_info {
    font-weight: bold;
    background-color: yellow !important;
    width: 180px;
}

.hero_image {
	width: 98%;
  	height: 700px;
  	background-image: url("/assets/files/OlympicMountains-fromWestSeattle-2016-byJessicaMcKeown.jpg");
  	background-size: cover;
}

@media only screen and (min-width: 700px) {
    nav.navbar {
        margin-right: -25px;
    }
}

@media only screen and (max-width: 699px) {
    nav.navbar {
        margin-right: -4px;
    }
}

#opening_ a, #shop_ a, p.yellow_links a {
    color: #FFFFCC;
}

a.no_em {
    color: #FFFFFC !important;
}

.home_p {
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    opacity: 0.9;
}

a.rss_feed {
    color: #FFCC99 !important;
    font-size: 0.7rem;
}

a.p_terms {
    color: #CCFFFF !important;
    font-size: 0.8rem;
}
