/*  Jessica McKeown Photography web site CSS by Dan McKeown copyright July 2016                              */
/*  http://danmckeown.info                                 */
/*  v0.1.0                                         */

#rotor_1 {
  	background-image: url("/assets/files/uebnvc-248h13h389-h9823h-r-(H-(-h.jpg");
}

#rotor_2 {
  	background-image: url("/assets/images/Bogey-cutout-July-2016copycopycopy.png");
}

#rotor_3 {
  	background-image: url("/assets/files/ntextlogo.jpg");
}

#rotor_4 {
  	background-image: url("/assets/files/rotor-logo-1.png");
}

div#rotor {
	width: 95.8vw;
	height: 7vh;
}

div#rotor span h1, div#rotor span h4, div#rotor span h5 {
    color: white;
    background-color: black;
    opacity: 0.7;
    margin-bottom: 0px;
    padding-left: 1rem;
}

.rotor_image {
    width: 94%;
    height: 800px;
    background-size: cover;
    display: block;
    margin: auto;
}

.rotor_image:nth-child(1) { 
    margin: auto;
    outline-width: 2px;
}

.rotor_image:nth-child(n+2) {
    display: none;
}

#h_zone {
    margin-bottom: 760px;
}

.below_hero {
    margin-top: 633px;
}

.rotor_image span a {
    display: inline;
}

span.button_span button svg {
    opacity: 0.9;
}

span.button_span button {
    background-color: white;
    opacity: 0.6;
}
