/*  LoveBirdsConsulting.com myphotos CSS by Dan McKeown copyright June 2016 								*/
/*  http://djmblog.com																*/
/*  v0.1.0	      */

div.main {
	width: 90%;
}

@media screen and (min-width: 700px) {
	section.waffle {
	    height: 100%;
	    margin-bottom: 5rem;
	    margin-right: -70px;
	    margin-left: +20px;
  }
  div.myphotos_item {
  	min-height: 350px;
  }
  div.myphotos_cart {
  	min-height: 120px;
  }
}

section.small_waffle {
	border-style: solid;
	border-color: dotted;
    border-width: 2px 3px 4px 3px;
}

body {
	background-color: black;
}

p, span, div, footer {
	color: white;
}


@media screen and (max-width: 699px) {
	section.waffle {
		height: 100%;
		margin-bottom: 5rem;
		margin-right: -15px;
		margin-left: +12px;
	}
}

button.add_cart_button_ {
	margin-top: 3px;
}

footer.footer {
	display: block;
}

*/  djmblog CSS below:  /*																    */

body {
	background-color: #FFFFFF;
}

.il {
	display: inline-block;
}

.italics {
	font-style: italic;
}

.paddingleft10 {
	padding-left: 10px;
}

.paddingleft20 {
	padding-left: 20px;
}

.marginleft10 {
	margin-left: 20px;
}

.marginleft20 {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Ryukyu custom grid system */
/* The Ryukyu-grid classes are like .rc-m-1  http://danmckeown.info/code/ryukyu */

.r_container {
	display: flex;
 	-webkit-flex-flow: row wrap;
 	justify-content: space-around;
	flex-flow: row wrap;
}

.rc-m-1 {
	width: 70px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-2 {
	width: 140px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-3 {
	width: 210px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-4 {
	width: 280px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-5 {
	width: 350px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-6 {
	width: 420px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-7 {
	width: 490px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-8 {
	width: 560px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-9 {
	width: 630px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-10 {
	width: 700px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-11 {
	width: 770px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-11 {
	width: 840px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-12 {
	width: 910px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-13 {
	width: 980px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.rc-m-14 {
	width: 1050px;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 2px;
	vertical-align: top;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

p#blog_post_content {
	white-space: pre-line;
}

.black_button {
	background-color: black;
}

.yellow_button {
	background-color: yellow;
}

.orange_button {
	background-color: orange;
}

.white_text {
	color: white;
}

.orange_button {
	background-color: orange;
}

.purple_button {
	background-color: violet;
}

@media screen and (max-width: 760px) {
	span.login_page_field {
		display: block;
	}
}

.rc-btn {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 5px;
	padding-left: 5px;
	width: auto;
	display: inline-block;
	margin-bottom: 1px;
	margin-top: 2px;
}

.rc-btn-default {
	border-radius: 10px;
	border: 1px solid #AAAAAA;
	background-color: #EEEEEE;
}

.rc-btn-primary {
	border-radius: 10px;
	border: 1px solid #AAAAAA;
	background-color: #33CCEE;
}

.rc-btn-success {
	border-radius: 10px;
	border: 1px solid #AAAAAA;
	background-color: #66FFAA;
}

.rc-btn-danger {
	border-radius: 10px;
	border: 1px solid #AAAAAA;
	background-color: #FF3366;
}

.rc-btn-warning {
	border-radius: 10px;
	border: 1px solid #AAAAAA;
	background-color: #FFDD77;
}

.rc-btn-info {
	border-radius: 10px;
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
}

.rc-jumbotron {
	border-radius: 3px;
	border: 2px solid #BBBBBB;
	background-color: #DDDDDD;
	padding-top: 11px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	width: auto;
	display: inline-block;
	margin-bottom: 2px;
}

button {
	margin-bottom: 5px;
}

img.playing_card {
	border:1px solid #021a40;
}

img.skyline_image {
	margin-top: -2px;
}

img {
	outline-style: solid;
    outline-width: 1px 1px 1px 1px;
    outline-color: #d3d3d3
}

span.blackjack_score {
	background-color: yellow;
}

p#message_content {
    white-space:pre-line;
}

.gray_button {
	background-color: gray;
}

.off_white_button {
	background-color: #B3B6B7;
}
